@import url('https://fonts.cdnfonts.com/css/gotham');

* {
    box-sizing: border-box;
    font-family: 'Gotham', sans-serif;
}

body {
    background-color: #ECF1F4; 
    max-height: fit-content;
}

main {
    background-color: yellow;
}

.cuadros  {
}

.cuadro1 {
    width: 65%;
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#intxt{
    height: 42vh;
    width: 100%;
    padding: 2vh;
    text-align: justify;
    word-break: break-all;
    overflow-y: scroll;
    border-radius: 2%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    background-color: #F8F9FA;
}

.cuadro2 {
    width: 30%;
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#traduccion{
    height: 42vh;
    width: 100%;
    padding: 2vh;
    text-align: justify;
    word-break: break-all;
    overflow-y: scroll;
    border-radius: 2%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    background-color: #F8F9FA;
    display: none;
}

.trad-cont {
    height: 42vh;
    width: 100%;
    padding: 2vh;
    text-align: center;
    border-radius: 2%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    background-color: #F8F9FA;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.txt1 {
    color: #202f6e;
    font-family: 'Gotham Black', sans-serif;
}

.txt2 {
    color: #202f6e;
    font-family: 'Gotham Light', sans-serif;
}

.txt3 {
    color: #20306e9f;
}

.link {
    text-decoration: none;
    color:black;
}

.alert {
    height: 2em;
    width: 100%;
    --bs-alert-padding-x: 0rem;
    --bs-alert-padding-y: 0rem;
    --bs-alert-margin-bottom: 0rem;
}

.btn-cont {
    width: 100%;
    max-height: 5em;
}

.btn-code {
    background-color: aqua;
    width: 65%;
    height: 5em;
}

.btn-copy {
    background-color: burlywood;
    width: 30%;
    height: 5em;
}

#enbtn {
    margin-inline-end: 5em;
}

#copy { 
    display: none;
}

button { 
    width: 11em;
    height: 2.5em;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

footer {
    left: 0px;
    bottom: 0px;
    width: 100%;
    color: black;
    text-align: center;
    padding: 20px 0px 20px 0px;
    cursor: default;
}

@media (max-width: 600px){
    main{
        height: 95vh;
    }
    .cuadro1, .cuadro2, .btn-cont {
        height: 25vh;
        width: 100%;
        margin: 0px;
    }
    #intxt, #traduccion {
        height: 20vh;
    }
    .btn-code {
        width: 100%;
        height: 10em;
    }
    .btn-copy{
        width: 100%;
    }
    #enbtn, #desbtn, #copy {
        width: 100%;
        height: 2.5em;
        margin-bottom: 1em;
        margin-inline-end: 0em;
    }
    footer {
        margin-top: 40%;
    }
    #img {
        display: none;
    }
    .alert {
        margin-top: 1em;
        margin-bottom: 1em;
    }
}