@import url('https://fonts.cdnfonts.com/css/gotham');

* {
    box-sizing: border-box;
    font-family: 'Gotham', sans-serif;
}

body {
    background-color: #ECF1F4;
}

main {
    background-color: yellow;
}

.cuadros  {
    background-color: red;
}

.cuadro1 {
    background-color: blue;
}

.cuadro2 {
    background-color: green;
}

.alert {
    background-color: blueviolet;
}

.btn-cont {
    background-color: gray;
}

.btn-code {
    background-color: aqua;
}

.btn-copy {
    background-color: burlywood;
}

footer {
    left: 0px;
    bottom: 0px;
    width: 100%;
    color: black;
    text-align: center;
    padding: 20px 0px 20px 0px;
    cursor: default;
}



